<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Getting in touch</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I'm looking for a postdoctoral position</h3>
        <p class="text-muted">Feel free to check out these opportunities for fully funded postdoctoral positions that I can be a co-advisor on:</p>
        <ol>
          <li><p class="text-muted"><a href="https://www.snf.ch/en/m1NtWp4nTELQixlu/funding/horizon-europe-swiss-postdoctoral-fellowships">Horizon Europe Swiss Postdoctoral Fellowships</a></p></li>
          <li><p class="text-muted"><a href="https://www.epfl.ch/research/services/fund-research/funding-opportunities/fellowship-mobility/epfleaders4impact/">EPFLeaders4impact Postdoctoral Fellowships</a></p></li>
        </ol>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I'm applying to the EPFL EDIC PhD program</h3>
        <p class="text-muted"><strong>I will be taking on new PhD students next year!</strong> Apply if you’re interested in joining EPFL to work with me. Before you can be considered for the NLP lab, however, you will have to be admitted to the <a href="https://www.epfl.ch/education/phd/edic-computer-and-communication-sciences/edic-computer-and-communication-sciences/edic-how-to-apply/">EDIC program</a>, which handles admissions centrally. Feel free to let me know if you apply, but I unfortunately can’t conduct pre-screenings until applications are in.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I'm an EDIC fellow</h3>
        <p class="text-muted">I’m happy to supervise rotations provided our research interests align and there’s a good chance that the rotation will lead to a permanent position in the lab.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I'm an EPFL Master’s student</h3>

        <p class="text-muted">I’m happy to supervise Master’s projects and theses every semester! If you’re interested in doing a project with EPFL NLP, send an e-mail to: <br/>
        <span class="indented"><a href="mailto:nlp-projects-apply@groupes.epfl.ch">nlp-projects-apply@groupes.epfl.ch</a></span> </p>
        <p class="text-muted">Please attach your CV and transcript and include <strong>[Masters Project]</strong> or <strong>[Masters Thesis]</strong> in your subject heading. If you want a sense of what a project in our lab would be about, check out our <a href="{{url}}/index.html#research-interests">research interests</a> or those of the <a href="{{url}}/team.html">lab members</a>!</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3> I'm looking for a summer internship</h3>
        <p class="text-muted">If you are a Bachelor’s or Master’s student at another university, please apply through the <a href="https://summer.epfl.ch/">Summer@EPFL</a> program. If you are looking for a PhD internship, contact me directly.</p>
      </li>
    </ul>
  </div>
</section>