<section id="mnlp">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">CS-552: Modern Natural Language Processing</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
    <div class="container-lg px-3 my-5 markdown-body">
    <!-- cs-552-modern-nlp -->

    <div id="toc_container">
      <h3>Contents</h3>
      <ul class="toc_list">
        <li><a href="#links">Relevant links & places</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#exercises">Exercise sessions' format</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </div>

    <hr/>

    <h2 id="links">Relevant links & places</h2>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Platform</th>
          <th style="text-align: left">Where &amp; when</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left">Lectures</td>
          <td style="text-align: left"><strong>Wednesdays: 9:15-11:00am</strong> [<a href="https://plan.epfl.ch//?room==CM%201%202">CM2</a>] &amp; <strong>Thursdays: 1:15-2:00pm</strong> [<a href="https://plan.epfl.ch//?room==CO%203">CO3</a>]</td>
        </tr>
        <tr>
          <td style="text-align: left">Exercises Session</td>
          <td style="text-align: left"><strong>Thursdays: 2:15-4:00pm</strong> [<a href="https://plan.epfl.ch//?room==CO%203">CO3</a>]</td>
        </tr>
        <tr>
          <td style="text-align: left">Project Assistance</td>
          <td style="text-align: left"><strong>Wednesdays: 11:15am-12:00pm</strong> [<a href="https://plan.epfl.ch//?room==CM%201%202">CM2</a>]</td>
        </tr>
        <tr>
          <td style="text-align: left">Forum</td>
          <td style="text-align: left">Ed Forum [<a href="">link</a>]</td>
        </tr>
        <tr>
          <td style="text-align: left">Moodle</td>
          <td style="text-align: left">Assignments &amp; Project submissions [<a href="">link</a>]</td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h2 id="schedule">Schedule</h2>
    <table>
      <thead>
        <tr>
          <th style="text-align: left">Week</th>
          <th style="text-align: left">Date</th>
          <th style="text-align: left">Topic</th>
          <th style="text-align: left/*center*/">Deliverable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left">Week 1</td>
          <td style="text-align: left">22 Feb</td>
          <td style="text-align: left">Introduction                             [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 2</td>
          <td style="text-align: left">1 Mar</td>
          <td style="text-align: left">Language Models - Basics                 [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 3</td>
          <td style="text-align: left">8 Mar</td>
          <td style="text-align: left">Neural LMs                               [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 4</td>
          <td style="text-align: left">15 Mar</td>
          <td style="text-align: left">Attention mechanism &amp; Transformer models [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 5</td>
          <td style="text-align: left">22 Mar</td>
          <td style="text-align: left">Pretraining LMs                          [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Assignment 1 (24/03)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left">Week 6</td>
          <td style="text-align: left">29 Mar</td>
          <td style="text-align: left">Transfer Learning                        [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 7</td>
          <td style="text-align: left">5 Apr</td>
          <td style="text-align: left">Text Generation                          [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Project Proposal Due (06/04)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left"> </td>
          <td style="text-align: left"> </td>
          <td style="text-align: left"><em>EASTER BREAK</em></td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 8</td>
          <td style="text-align: left">19 Apr</td>
          <td style="text-align: left">In-Context Learning                      [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Assignment 2 (21/04)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left">Week 9</td>
          <td style="text-align: left">26 Apr</td>
          <td style="text-align: left">Ethics in NLP                            [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Project Milestone 2 Due (27/04)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left">Week 10</td>
          <td style="text-align: left">3 May</td>
          <td style="text-align: left">Seq-2-Seq LMs                            [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Assignment 3 (05/05)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left">Week 11</td>
          <td style="text-align: left">10 May</td>
          <td style="text-align: left">Interpretability                         [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 12</td>
          <td style="text-align: left">17 May</td>
          <td style="text-align: left">Reading Comprehension                    [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Project Milestone 3 Due (18/05)</strong></td>
        </tr>
        <tr>
          <td style="text-align: left">Week 13</td>
          <td style="text-align: left">24 May</td>
          <td style="text-align: left">Multilingual LMs                         [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"> </td>
        </tr>
        <tr>
          <td style="text-align: left">Week 14</td>
          <td style="text-align: left">31 May</td>
          <td style="text-align: left">Multimodality                            [<a href="https://github.com/epfl-nlp/cs-552-modern-nlp">slides</a>, <a href="https://github.com/epfl-nlp/cs-552-modern-nlp">lab</a>]</td>
          <td style="text-align: left/*center*/"><strong>Final Project Due (02/06)</strong></td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h2 id="exercises">Exercise sessions' format:</h2>
    <ul>
      <li>TAs will provide a small discussion over the <strong>last week’s exercises</strong>, answering any questions and explaining the solutions. <em>(10-15mins)</em></li>
      <li>TAs will present <strong>this week’s exercise</strong>. <em>(5mins)</em></li>
      <li>Students will be solving this week’s exercises and TAs will provide answers and clarification if needed.</li>
    </ul>

    <p><em><strong>Note</strong>: Please make sure you have already done the setup prerequisites to run the coding parts of the exercises. You can find the instructions <a href="">here</a>.</em></p>

    <hr/>

    <h2 id="contacts">Contacts</h2>

    <p><strong>Lecturer</strong>: <a href="https://people.epfl.ch/antoine.bosselut">Antoine Bosselut</a></p>

    <p style="margin-bottom: 0;"><strong>Teaching assistants</strong>: </p>
    <ul>
      <li><a href="https://people.epfl.ch/xyz">Name Surname</a>, <a href="https://people.epfl.ch/xyz">Name Surname</a></li>
      <li>Please contact us for any organizational questions or questions related to the course content.</li>
    </ul>
  </div>
</section>