<section id="research-interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research Interests</h2>
                <hr class="primary">
                <!-- <p>Our research interests are broadly in natural language processing, deep learning, machine learning, and artificial intelligence, with some projects integrating computer vision and data science. Specifically, our research focuses on how we can design systems that understand the implicit human knowledge underlying language and communication.</p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/representation.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Neural and symbolic representations of knowledge</h3>
                    <p class="text-muted">Language models as knowledge bases, automatic knowledge graph construction, neural information retrieval</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/reasoning.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Neuro-symbolic reasoning methods</h3>
                    <p class="text-muted">Knowledge graph integration in NLP systems, large-scale pretraining of language and knowledge models, graph neural networks</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/commonsense.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Commonsense knowledge representation and reasoning</h3>
                    <p class="text-muted">Learning commonsense knowledge from language and vision, models for commonsense reasoning, applications of commonsense reasoning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/narrative.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Narrative understanding</h3>
                    <p class="text-muted">Entity representations, entity and state tracking, story generation</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/generation.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Language generation</h3>
                    <p class="text-muted">Models, decoding algorithms, evaluation metrics</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="resources/img/research_interests/biomedical.png" class="wow bounceIn text-primary" data-wow-delay=".1s">
                    <h3>Biomedical and social science applications of language and knowledge</h3>
                    <p class="text-muted">Understanding clinical notes, biomedical NLP, disinformation detection</p>
                </div>
            </div>
        </div>
    </div>
</section>
