html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.ai {
    font-weight: 700 !important;
}



// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, $landing-image-darkening), rgba(0, 0, 0, $landing-image-darkening)), url('../../resources/img/landing.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .9);
                font-size: 16px;

                &:last-child {
                    margin-bottom: 50px;
                }
            }
            span {
                &#disclaimer {
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
    }
    img#epfl {
        width: 30%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 20px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
                span {
                    &#disclaimer {
                        font-size: 14px;
                    }
                }
            }
        }
        img#epfl {
            width: 145px;
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

section#research-interests {
    div.row {
        h3, p {
            text-align: left;
        }
        img {
            max-width: 128px;
        }
        &:last-child {
            margin-top: 40px;
        }
    }
}

section#teaching {
    p {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    img {
        max-width: 30px;
        max-height: 30px;
        position: relative;
        top: -50%;
    }

    td {
        font-weight: bold;
        width: 200px;
    }

    table {
        border-spacing: 1;
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 40%;
        position:relative;
    }
}

section#mnlp {

    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

    .toc_title {
        font-weight: 700;
        margin-bottom: 5px;
    }

    ul {
        padding-left: 12px !important;
    }

    li {
        font-size: 16px;
        list-style: outside none none !important;
        margin-bottom: 8px;
    }


    table {
        border-spacing: 1;
        border-collapse: collapse;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position:relative;
    }

    table * {
        position:relative;
    }

    table td, table th {
        padding-left:8px;
    }

    table thead tr {
        height: 60px;
        background:#36304a;
    }

    table tbody tr {
        height:50px;
    }

    table tbody tr:last-child {
        border:0;
    }

    table td, table th {
        text-align:left;
    }

    table td.l, table th.l {
        text-align:right;
    }

    table td.c, table th.c {
        text-align:center;
    }

    table td.r, table th.r {
        text-align:center;
    }

    table th {
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight:unset;
    }

    tbody tr:nth-child(even) {
        background-color:#f5f5f5;
    }

    tbody tr {
        font-size: 15px;
        color: gray;
        line-height: 1.2;
        font-weight:unset;
    }

    tr td {
        padding: 10px;
    }

    #assignments-section, #project-section {
        padding: 0 20px 10px;
    }

    div.box {
        margin: 15px;
        padding: 15px 15px 10px 15px;
        border: 1px solid $theme-primary;
        border-radius: 10px;
        background-color: $theme-primary-background;
    }

    div.faded {
        border: 1px solid black !important;
        background-color: #ddd !important;
    }


    @media screen and (max-width: 992px) {
        table {
            display:block;
        }

        table > *, table tr, table td, table th {
            display:block;
        }

        table thead {
            display:none;
        }

        table tbody tr {
            height: auto;
            padding:37px 0;
        }

        table tbody tr td {
            padding-left: 40% !important;
            margin-bottom:24px;
        }

        table tbody tr td:last-child {
            margin-bottom:0;
        }

        table tbody tr td:before {
            font-size: 14px;
            color: #999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 40%;
            left: 30px;
            top:0;
        }
/*
        .column4, .column5, .column6 {
            text-align:left
        }

        .column4, .column5, .column6, .column1, .column2, .column3 {
            width:100%
        }*/

        tbody tr {
            font-size:14px
        }
    }

    @media (max-width: 576px) {
        .container-table100 {
            padding-left: 15px;
            padding-right: 15px
        }
    }
}

section#team {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

    div.container div.row {
        @media (min-width: 992px) {
            padding-bottom: 30px;
        }

        &.alumni {
            padding: 20px;

            ul {
                display: block;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            ul li {
                display:inline-block;
                width: 30%;
                position: relative;

                @media (max-width: 1000px) {
                    width: 45%;
                }
                @media (max-width: 700px) {
                    width: 90%;
                }
            }
            
            ul li:not(:last-child) {
                margin-bottom: 16px;
            }
            
            ul li:before {
                content: "";
                position: absolute;
                top: 1.2em;
                left: -30px;
                margin-top: -.9em;
                background: linear-gradient(45deg, #f69ec4, #f9dd94);
                height: 12px;
                width: 12px;
                border-radius: 50%;
            }
        }
              
    }

    div.service-box {
        margin-bottom: 15px;

        img.member-photo {
            max-width: 100%;
            overflow:hidden;
            object-fit: cover;
            border: 1px solid black;
            /*filter: grayscale(100%) contrast(120%);*/
            transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        div.socials {
            margin-top: 0.25rem;
            height: 3.75rem;
            padding: 0 auto;
            & div {
                display: inline-block;
                margin: 0 0.25rem 0 0.25rem;
                & a {
                    width: 3.75rem;
                    height: 3.75rem;
                    padding: 0.72rem 0.5rem 0.5rem 0.597rem;
                    color: $theme-primary;
                    background: white;

                    &:hover {
                        color: white;
                        background: $theme-primary;
                    }

                    & i {
                        font-size: 1.75em;

                        &.fa-graduation-cap {
                            font-size: 1.35em;
                            margin-top: 0.2rem;
                        }
                        &.fa-github {
                            font-size: 1.9em;
                            position: relative;
                            top: -0.1rem;
                        }
                    }
                } 
            }  
        }

        /*&:hover {
            img {
                filter: none;
            }
        }*/
    }
}

section#not-found {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

    img {
        max-width: 100%;
    }
}
section#publications {
    ul li>div {
        padding: 10px;

        p.award {
            margin-top: 5px;
            color: $theme-primary-attention;
            font-weight: bold;
        }
        
        div {
            padding: 5px;
            display: inline-block;
            a {
                border: 1px solid $theme-primary;
                background-color: white;
                color: $theme-primary;
                font-size: 11px;
                position: relative;
                i {
                    position: relative; 
                    top:-0.5px;
                    padding-right: 4px;
                }
            }
        }
    }
}
section#contact, section#publications {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;


    span.indented {
        margin: 2% 0 0 1%;
    }

    @media (max-width: 550px) {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;

        span.indented {
            margin: 0;
        }
    }

    p, ol {
      position: relative;
      overflow: hidden;
      opacity: 1;
      transform: translate(0, 0);
      z-index: 2;
    }
    p {  
      margin-top: 14px;
      margin-bottom:  0px;

      &.wip {
        color: $theme-primary-attention;
        font-weight: bold;
      }
    }
    ol {
        /*margin-top: -20px;*/
        li {
            padding-bottom: 0;
            padding-top: 0;
            border-top: none;
        }
    }

    h4 {
        margin-top: 25px;
        margin-bottom: 0px;
    }

    span {
        &.showing {
            font-weight: bold;
            color: $theme-primary;
            cursor: pointer;
        }
        &.not-showing {
            font-weight: normal;
            color: #ccc;
            cursor: pointer;
        }
    }

    div#semester-projects-list {
        padding: 20px;

        table, th, td {
            border: 1px solid $theme-dark;
            border-collapse: collapse;
        }

        table {
            font-size: 11.5pt;
            border-spacing: 5px;
            width : 100%;

            & > tbody > tr:nth-child(1) > td > table > tbody > tr {
                color:white;
                background-color: $theme-primary;
            }

            table {
                width: 100%;

                th {
                    font-size: 13pt;
                    text-align: center;

                    @media (max-width: 1000px) {
                        font-size: 11.5pt;
                    }
                }

                th, td {
                    padding: 10px;

                    &:nth-child(1) {
                        width: 20%;
                    }
                    &:nth-child(2) {
                        width: 15%;
                    }
                    &:nth-child(3) {
                        width: 65%;
                    }

                    // @media (max-width: 550px) {
                    //     box-sizing: border-box;
                    //     transform: translate(0, 0);
                    //     max-width: 100%;
                    //     min-height: 100%;
                    //     margin: 0;
                    //     left: 0;

                    //     span.indented {
                    //         margin: 0;
                    //     }
                    // }
                }

                tr:nth-child(even) {
                    background-color:  rgba( $theme-primary-background, .5); // rgba( $theme-primary, .2 );
                }

                // td:nth-child(even), th:nth-child(even) {
                //     background-color: rgba( $theme-primary, .2 );
                // }

            }

            div {
                height:350px; 
                overflow-y: scroll;
            }
        }
    }

    ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0;
    }
    ul>li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 20px;
      padding-top: 10px;
      border-top: 1px dotted #dce7eb;

        &:last-of-type {
          padding-bottom: 0;
        }
        &>i {
          position: absolute;
          transform: translate(-6px, 0);
          margin-top: 16px;
          right: 0;
        
            &:before, &:after {
              content: "";
              position: absolute;
              background-color: #ff6873;
              width: 3px;
              height: 9px;
            }
            &:before {
              transform: translate(-2px, 0) rotate(45deg);
            }
            &:after {
              transform: translate(2px, 0) rotate(-45deg);
            }
        }
        & input[type=checkbox] {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 60px;
          z-index: 1;
          opacity: 0;
        
            &:checked ~ p, &:checked ~ ol, &:checked ~ div, &:checked ~ h4 {
              max-height: 0;
              opacity: 0;
              transform: translate(0, 50%);
              padding: 0;
              margin: 0;
              display: none;
              p {
                margin: 0 !important;
              }
            }
            &:checked ~ i:before {
              transform: translate(2px, 0) rotate(45deg);
            }
            &:checked ~ i:after {
              transform: translate(-2px, 0) rotate(-45deg);
            }
        }
    }
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 5px;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

