<div>
    <p>{% if include.pub.link %}<a href="{{ include.pub.link | replace: 'EPFL_NLP_URL!', site.url }}">{{include.pub.title}}</a>{% else %}{{include.pub.title}}{% endif %}.
      {% for a in include.pub.authors %}
        {% if a.nlp-lab %}<strong>{{a.name}}</strong>{% else %}{{a.name}}{% endif %}{% if forloop.last %} ({{include.pub.year}}).{% else %},{% endif %}
    {% endfor %}
    {{include.pub.journal}}. {% if include.pub.note %}{{include.pub.note}}.{% endif %}</p>
    {% if include.pub.award %}<p class="award">{{include.pub.award}}.</p>{% endif %}
    {% if include.pub.code %}
      <div>
        <a href="{{ include.pub.code | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-code" aria-hidden="true"></i> Code</a>
      </div>
    {% endif %}
    {% if include.pub.dataset %}
      <div>
        <a href="{{include.pub.dataset | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-database" aria-hidden="true"></i>Dataset</a>
      </div>
    {% endif %}
    {% if include.pub.project %}
      <div>
        <a href="{{include.pub.project | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-terminal" aria-hidden="true"></i>Project</a>
      </div>
    {% endif %}
    {% if include.pub.poster %}
      <div>
        <a href="{{include.pub.poster | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-file-text-o" aria-hidden="true"></i>Poster</a>
      </div>
    {% endif %}
    {% if include.pub.video %}
      <div>
        <a href="{{include.pub.video | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-video-camera" aria-hidden="true"></i>Video</a>
      </div>
    {% endif %}
    {% if include.pub.demo %}
      <div>
        <a href="{{include.pub.demo | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i>Demo</a>
      </div>
    {% endif %}
    {% if include.pub.slides %}
      <div>
        <a href="{{include.pub.slides | replace: 'EPFL_NLP_URL!', site.url }}" class="btn btn-primary"><i class="fa fa-photo" aria-hidden="true"></i>Slides</a>
      </div>
{% endif %}
</div>